@import "/src/styles/colors.scss";
@import "/src/styles/fonts.scss";
@import "/src/styles/responsive.scss";
@import "/src/styles/sizes.scss";


.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color ;
}

.footer__links{
  color:$primary-color;
  font-size: $paragraph-size;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
