<div class="intro">
<div >
  <h1 class="intro__titulo">Consejos día a día</h1>
  <img class="intro__image"src="{{intro.img}}" alt="">
  <p class="intro__description">{{intro.description}}</p>
</div>
<div>
  <h1>Envia mensaje al componente padre</h1>
	<!-- ngModel lo iremos aprendiendo poco a poco a lo largo del curso-->
  <input #event (keyup)="keyUp(event.value)"/>

  <button (click)="sendMessage()">Enviar a padre</button>
</div>
</div>

