@import "/src/styles/colors.scss";
@import "/src/styles/fonts.scss";
@import "/src/styles/responsive.scss";
@import "/src/styles/sizes.scss";

.intro{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
}

.intro__image{
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-left: 35%;
  padding-top:30px;
}

.intro__description{
  padding-left:20%;
  padding-right: 20%;
}

.intro__titulo{
  display: flex;
  justify-content: center;
  color: $primary-color;
}
