@import "/src/styles/colors.scss";
@import "/src/styles/fonts.scss";
@import "/src/styles/responsive.scss";
@import "/src/styles/sizes.scss";


.navbar{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:$secondary-color;
}

.navbar__container{
  width: 60%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo{
  height: 100px;
  margin-left: -60px;
}

.navbar__link-box{
color: $primary-color;
font-size: $linkbox-sizes;
width: 60%;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
cursor: pointer;
}

.navbar__img{
    height: 15px;
}
