<nav class="navbar">
  <div class="navbar__container">
    <img class="navbar__logo" src="{{header.icon.img}}" alt="{{header.icon.description}}" />
    <div class="navbar__link-box" *ngFor="let link of header.links">
      <div>{{ link.linkText }}</div>
    </div>
  </div>
</nav>


