@import "/src/styles/colors.scss";
@import "/src/styles/fonts.scss";
@import "/src/styles/responsive.scss";
@import "/src/styles/sizes.scss";

.home__titulo{
  display: flex;
  justify-content: center;
  color: $primary-color;
}
