<div class="home__container">
  <h1 class="home__titulo">¡Bienvenidos a la web de cocina más sana!</h1>
</div>


<div>
  <h1>Father Component</h1>
  <input #fatherInput (keyup)="keyUp(fatherInput.value)"/>
  <div>
<app-intro [intro] ="home.intro" (emitMessage)="introMessage($event)"
></app-intro>

<app-gallery [gallery] = "home.gallery"></app-gallery>
