<div class="gallery">
  <ul class="gallery__ul">
    <li class="gallery__li" *ngFor="let img of gallery.img">
      <img class="gallery__img" src="{{ img.img }}" alt="{{ img}}">
      <p class="gallery__description">{{ img.description }}</p>
    </li>
  </ul>
</div>
