@import "/src/styles/colors.scss";
@import "/src/styles/fonts.scss";
@import "/src/styles/responsive.scss";
@import "/src/styles/sizes.scss";

.gallery{
  width: 100%;
  height: auto;
}

.gallery__ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.gallery__li{
  list-style: none;
  padding-bottom: 70px;
}


.gallery__img{
  width: 20%;
  height: auto;
  padding-bottom: 30px;
}
